<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginS</servlet-name>
        <servlet-class>servlet.LoginS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserS</servlet-name>
        <servlet-class>servlet.UpdateUserS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserS</servlet-name>
        <servlet-class>servlet.DeleteUserS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserS</servlet-name>
        <servlet-class>servlet.RegisterUserS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookS</servlet-name>
        <servlet-class>servlet.UpdateBookS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookS</servlet-name>
        <servlet-class>servlet.DeleteBookS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBookS</servlet-name>
        <servlet-class>servlet.InsertBookS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookS</servlet-name>
        <servlet-class>servlet.ViewBookS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookShelfS</servlet-name>
        <servlet-class>servlet.UpdateBookShelfS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVipS</servlet-name>
        <servlet-class>servlet.UpdateVipS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkVipS</servlet-name>
        <servlet-class>servlet.checkVipS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookS</servlet-name>
        <servlet-class>servlet.SearchBookS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginS</servlet-name>
        <url-pattern>/LoginS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserS</servlet-name>
        <url-pattern>/UpdateUserS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserS</servlet-name>
        <url-pattern>/DeleteUserS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserS</servlet-name>
        <url-pattern>/RegisterUserS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookS</servlet-name>
        <url-pattern>/UpdateBookS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookS</servlet-name>
        <url-pattern>/DeleteBookS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBookS</servlet-name>
        <url-pattern>/InsertBookS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookS</servlet-name>
        <url-pattern>/ViewBookS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookShelfS</servlet-name>
        <url-pattern>/UpdateBookShelfS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVipS</servlet-name>
        <url-pattern>/UpdateVipS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkVipS</servlet-name>
        <url-pattern>/checkVipS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookS</servlet-name>
        <url-pattern>/SearchBookS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
